/*==========Google Fonts==========*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');


/*==========Reset==========*/
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}


/*==========Root==========*/
:root {

  --first-color: hsl(207, 65%, 65%);
  --title-color: hsl(207, 4%, 16%);
  --text-color: hsl(207, 4%, 28%);
  --text-color-light: hsl(207, 4%, 56%);
  --body-color: hsl(207, 4%, 99%);
  --container-color: hsl(207, 4%, 95%);
  --white-color: hsl(0, 0%, 100%);
  --red-color: hsl(345, 99%, 62%);
  --black-color: hsl(0, 0%, 0%);
  --transparent-color: hsla(0, 0%, 0%, 0);
  --blue-color: hsl(208, 100%, 50%);
  --light-blue-color: hsl(217, 80%, 80%);
  --light-green-color: hsl(174, 100%, 50%);

  --gradient-color: linear-gradient(180deg, hsla(207, 48%, 72%, 0), hsla(207, 65%, 65%, 1));
  --gradient-color-1: linear-gradient(180deg, hsla(174, 100%, 50%, 0.397) 10%, hsl(174, 100%, 50%) 100%);

  --transition: all 400ms ease-in-out;

  --container-max-wd: 992px;

  --header-height: 3.5rem;

  --border: 1px solid hsla(0, 0%, 0%, 0.089);

  --shadow: 0 4px 20px hsla(207, 24%, 35%, .1);
  --shadow-1: 0px 1px 3px hsla(0, 0%, 0%, 0.5);
  --shadow-2: -20px 15px 5px hsla(0, 0%, 0%, 0.082);
  --shadow-3: -20px 15px 5px hsla(0, 0%, 0%, 0.041);

  --biggest-font-size: 1.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --tiny-font-size: .625rem;
  --logo-font: 'Cedarville Cursive', cursive;

  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;

}


/*==========Base==========*/
html {
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}
body {
  background: var(--body-color);
  color: var(--text-color);
  font-size: var(--normal-font-size);
  transition: background .4s;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}
a {
  color: var(--color-black);
}
img {
  max-width: 100%;
  height: auto;
}


/*==========General Styles==========*/
.container {
  max-width: var(--container-max-wd);
  margin-inline: 1.5rem;
}
.grid {
  display: grid;
  gap: 1.5rem;
}
.section {
  padding-block: 2.5rem;
}
.sec__border {
  border-bottom: 1px solid var(--text-color-light);
  padding-bottom: 3.5rem;
}
.sec__title, 
.sec__subtitle {
  text-align: center;
  color: var(--light-blue-color);
}
.sec__title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  text-transform: capitalize;
  margin-bottom: .25rem;
}
.sec__subtitle {
  display: block;
  font-style: italic;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-bottom: 3rem;
}
.main {
  overflow: hidden; 
}


/*==========General Btns==========*/
.btn {
  position: relative;
  display: inline-block;
  padding: .5rem 1rem;
  border: var(--border);
  box-shadow: var(--shadow);
  text-align: center;
  overflow: hidden;
  transition: var(--transition);
}
.btn small {
  font-size: 1rem;
  text-transform: capitalize;
  color: var(--text-color);
  animation: btnAnime 5s linear infinite;
}

@keyframes btnAnime {
  0% {
    filter: hue-rotate(0);
  }
  50% {
    filter: hue-rotate(360deg);
  }

}

.btn span {
  position: absolute;
  display: block;
}
.btn span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, var(--transparent-color), var(--light-blue-color));
}
.btn:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}
.btn span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 4px;
  background: linear-gradient(270deg, var(--transparent-color), var(--light-blue-color));
}
.btn:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: .5s;
}
.btn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(180deg, var(--transparent-color), var(--light-blue-color));
}
.btn:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: .25s;
}
.btn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(360deg, var(--transparent-color), var(--light-blue-color));
}
.btn:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: .75s;
}


/*==========Scroll Up==========*/
.scroll__up {
  position: fixed;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: -.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}
.scroll__up i {
  font-size: 2.25rem;
  color: var(--text-color-light);
}


/*==========Scrollbar==========*/
::-webkit-scrollbar {
  width: .5rem;
  border-radius: .5rem;
  background: var(--body-color);
}
::-webkit-scrollbar-thumb {
  background: var(--light-blue-color);
  border-radius: .5rem;
  transition: var(--transition);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--text-color-light);
  border-radius: .5rem;
}


/*==========Media Query Mobile Scrollbar==========*/
@media (max-width: 768px) {
  .scrollbar, .progress-scrollbar {
    display: none;
  }

}


/*==========JavaScript Scroll Up==========*/
.show-scroll {
  opacity: 1;
  visibility: visible;
}


/*==========Media Query==========*/
@media (min-width: 992px) {
  :root {
    --biggest-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
    --tiny-font-size: .688rem;
  }

}


/*==========Header==========*/
.header {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: var(--z-fixed);
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--white-color);
  width: 100%;
  height: calc(var(--header-height) + .5rem);
  margin: 0 auto;
  padding-inline: 1.5rem;
  transition: var(--transition);
}
.navbar__logo, .navbar__close, .navbar__toggle {
  color: var(--text-color-light);
}
.navbar__logo {
  font-size: 1.5rem;
  font-family: var(--logo-font);
  font-weight: var(--font-medium);
  text-transform: capitalize;
}
.navbar__toggle {
  display: flex;
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 992px) {
  .navbar__menu {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    bottom: -60%;
    margin: 0 auto;
    background: var(--white-color);
    box-shadow: var(--shadow);
    padding: 1rem .5rem 5rem;
    transition: bottom .3s;
  }
  .navbar__link i {
    width: 2.2rem;
    height: 2.2rem;
    background: var(--white-color);
    box-shadow: var(--shadow);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block-end: .2rem;
  }

}

.navbar__list {
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  gap: 1rem 2rem;
  padding: .5rem .7rem;
}
.navbar__link {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: .25rem;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  text-transform: capitalize;
  transition: color .3s;
}
.navbar__link:hover {
  color: var(--light-blue-color);
}
.navbar__link i {
  color: var(--light-blue-color);
  font-size: 1.25rem;
}
.navbar__close {
  position: absolute;
  top: -2rem;
  right: 0;
  background: var(--white-color);
  border-top: var(--border);
  border-left: var(--border);
  border-top-left-radius: .5rem;
  padding: .1rem .7rem;
  font-size: 1.5rem;
  cursor: pointer;
}

/*==========JavaScript navbar==========*/
.show__menu {
  bottom: 0;
}
.scrolling-navbar {
  box-shadow: var(--shadow);
}
.active__link-section.navbar__link {
  color: var(--light-blue-color);
  transition: var(--transition);
}
.active__link-section.navbar__link i {
  background: var(--light-blue-color);
  color: var(--white-color);
  transform: scale(1.1) rotate(360deg);
  transition: var(--transition);
}


/*==========Home==========*/
.home__container {
  row-gap: 2rem;
}
.home__description {
  position: relative;
  row-gap: 1rem;
}
.home__title {
  font-size: var(--biggest-font-size);
  color: var(--text-color-light);
  font-weight: 400;
  text-align: center;
  letter-spacing: .3px;
  margin-block-end: .5rem;
}
.home__title p span {
  font-weight: 700;
}
.home__title p:last-child {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--text-color-light);
}
.home__content {
  position: relative;
  width: 250px;
  height: 350px;
  background: var(--white-color);
  border: var(--border);
  box-shadow: var(--shadow-2);
  justify-self: center;
  place-items: center;
  border-radius: 1rem;
}
.home__profile {
  width: 230px;
  height: 330px;
  background: var(--white-color);
  border-radius: .5rem;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.home__profile img {
  filter: contrast(1.5);
  transition: var(--transition);
}
.home__profile:hover img {
  filter: grayscale(0);
}
.home__shape-w1, .home__shape-w2 {
  position: absolute;
  opacity: .2;
}
.home__shape-w1 {
  width: 100px;
  top: 1rem;
  left: -4.5rem;
}
.home__shape-w2 {
  width: 150px;
  right: -5rem;
  bottom: -4.5rem;
  z-index: -1;
}
.home__socials {
  position: fixed;
  top: -100%;
  left: 0;
  right: 0;
  padding: .7rem 0;
  background: var(--body-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  transition: var(--transition);
  z-index: 999;
}
.home__socials-link {
  font-size: 1.4rem;
  color: var(--text-color-light);
  transition: color .3s;
}
.home__socials-link:hover {
  color: var(--light-blue-color);
}
.home__info {
  display: grid;
  row-gap: 2rem;
}
.home__info-title {
  text-transform: capitalize;
  font-weight: 300;
  color: var(--text-color-light);
  margin-block-end: .5rem;
}
.home__info-description p, .home__info-number p {
  font-style: italic;
  font-weight: 300;
  color: var(--title-color);
}
.home__info-description p i, .home__info-number p i {
  color: var(--light-blue-color);
}
.home__info-description {
  padding-right: 4rem;
}

/*==========JavaScript Home socials==========*/
.scrolling-socials {
  top: 0;
  box-shadow: var(--shadow);
}


/*==========My Skills==========*/
.skills__container {
  row-gap: 3rem;
}
.skills__title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  font-size: var(--h3-font-size);
  font-weight: 700;
  color: var(--text-color-light);
  margin-block-end: 2rem;
}
.skills__title i {
  font-size: 1.1rem;
  color: var(--light-blue-color);
  font-weight: initial;
}
.skills__info, .skills__data, .skills {
  display: grid;
}
.skills__info {
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem 2rem;
}
.skills__data {
  place-items: center;
  text-align: center;
}
.skills {
  width: 80px;
  height: 100px;
  background: var(--white-color);
  box-shadow: var(--shadow-3);
  border-radius: .5rem;
  place-items: center;
  margin-block-end: 1.2rem;
}
.skills img {
  width: 40px;
  filter: contrast(1.5);
}
.skills__name {
  font-size: var(--small-font-size);
  margin-block-end: .25rem;
}
.skills:hover img {
  animation: skillsUp .6s;
}

@keyframes skillsUp {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(-6px);
  }
  40% {
    transform: translate(0);
  }
  60% {
    transform: translateY(-3px);
  }
  80% {
    transform: translate(0);
  }

}


/*==========My Qualifications==========*/
.my__qualifications {
  position: relative;
}
.qualifications__container {
  row-gap: 3rem;
}
.qualifications__title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color-light);
  margin-block-end: 1.5rem;
}
.qualifications__title i {
  font-size: 1.1rem;
  font-weight: initial;
}
.qualifications__info {
  display: grid;
  row-gap: 2rem;
}
.qualifications__name {
  font-size: var(--normal-font-size);
  margin-block-end: .5rem;
}
.qualifications__location, .qualifications__date {
  display: block;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}
.qualifications__location i, .qualifications__date i {
  color: var(--light-blue-color);
}
.qualifications__location {
  margin-block-end: .5rem;
}


/*==========My Services==========*/
.services__container {
  row-gap: 3rem;
  place-items: center;
}
.services__card {
  position: relative;
  width: 280px;
  height: 330px;
  background: var(--white-color);
  box-shadow: var(--shadow);
  text-align: center;
  padding: 3.5rem 1rem;
  border-radius: .5rem;
}
.services__card i {
  display: block;
  font-size: 2.5rem;
  color: var(--light-blue-color);
  margin-block-end: .7rem;
  animation: 10s iconRotate linear infinite;
}

@keyframes iconRotate {
  100% {
    transform: rotateY(360deg)
  }

}

.services__title {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--text-color-light);
  margin-block-end: 1rem;
  
}



/*==========Recent Projects==========*/
.recent__projects {
  text-align: center;
}
.projects__container {
  overflow: initial;
}
.projects__content {
  display: grid;
  place-items: center;
}
.projects__image {
  width: 270px;
  border-radius: .5rem;
  margin-block-end: 1.25rem;
  box-shadow: var(--shadow);
  transition: var(--transition);
}
.projects__subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  font-weight: 700;
}
.projects__title {
  font-size: var(--h3-font-size);
  margin-inline-end: 1.25rem;
  margin: .5rem 0 1.25rem;
}
.projects__btn {
  display: inline-flex;
  align-items: center;
  gap: .5rem;
  font-size: 1.1rem;
  background: var(--white-color);
  box-shadow: var(--shadow);
  color: var(--light-blue-color);
  padding: .5rem 1rem;
  text-transform: capitalize;
  transition: var(--transition);
}
.projects__btn:hover {
  letter-spacing: 4px;
}
.projects__btn i {
  font-size: 1.1rem;
  transition: transform .3s;
}
.projects__btn:hover i {
  transform: translateX(.5rem);
}
.projects__container .swiper-button-next::after,
.projects__container .swiper-button-prev::after {
  content: '';
}
.projects__container .swiper-button-next,
.projects__container .swiper-button-prev {
  width: initial;
  height: initial;
  margin: initial;
  font-size: 2.5rem;
  color: var(--text-color-light);
}
.projects__container .swiper-button-next {
  top: 4rem;
  right: -.7rem;
}
.projects__container .swiper-button-prev {
  top: 4rem;
  left: -.7rem;
}
.projects__container .swiper-slide {
  margin-block-end: 4rem;
}
.projects__container .swiper-pagination-bullets {
  bottom: 0;
}
.projects__container .swiper-pagination-bullet {
  background: var(--text-color-light);
  opacity: initial;
}
.projects__container .swiper-pagination-bullet-active {
  background: var(--light-blue-color);
}


/*==========Portfolio==========*/
.portfolio .sec__subtitle a {
  color: var(--text-color-light);
  font-weight: 600;
  transition: var(--transition);
}
.portfolio .sec__subtitle a:hover {
  color: var(--light-blue-color);
}
.portfolio__card {
  position: relative;
  height: 70vh;
}
.card__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--white-color);
  box-shadow: var(--shadow-3);
  border: var(--border);
  border-radius: .5rem;
  width: 300px;
  height: 450px;
  padding: 1rem;
  overflow: hidden;
  transition: var(--transition);
}
.card__content:hover {
  box-shadow: none;
}
.portfolio__image {
  position: absolute;
  top: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 250px;
}
.portfolio__title {
  position: absolute;
  bottom: 6rem;
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  text-shadow: var(--shadow-2);
  text-transform: capitalize;
  color: var(--light-blue-color);
}
.portfolio__eye {
  position: absolute;
  left: 50%;
  bottom: 25px;
  transform: translate(-50%);
  width: 2rem;
  height: 2rem;
  background: var(--light-blue-color);
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  cursor: pointer;
}
.portfolio__eye i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.25rem;
  color: var(--white-color);
}
.layer__title {
  position: absolute;
  top: 45%;
  left: -60%;
  transform: translate(-50%);
  width: 100%;
  color: var(--white-color);
  font-weight: 700;
  text-transform: capitalize;
  text-shadow: var(--shadow-1);
}
.portfolio__sumary-1 {
  position: absolute;
  top: -53%;
  left: 52%;
  transform: translate(-50%);
  width: 83%;
  color: var(--white-color);
  font-weight: 300;
}
.portfolio__sumary-2 {
  position: absolute;
  top: -60%;
  left: 52%;
  transform: translate(-50%);
  width: 83%;
  color: var(--white-color);
  font-weight: 300;
}
.portfolio__image-1 {
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translate(-50%);
  box-shadow: var(--shadow);
  filter: contrast(1.2);
}
.portfolio__btns {
  position: absolute;
  bottom: -50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
.btn__back, .btn__portfolio {
  color: var(--white-color);
  text-shadow: var(--shadow-1);
  text-transform: capitalize;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.btn__back i, .btn__portfolio i {
  font-size: 1.5rem;
}


/*==========Contact==========*/
.contact {
  margin-block-end: 10rem;
}
.contact__container {
  row-gap: 3rem;
}
.contact__title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  font-size: .9rem;
  font-weight: 600;
  color: var(--text-color-light);
  margin-block-end: 3rem;
}
.contact__title i {
  font-size: 1rem;
  color: var(--light-blue-color);
}
.contact__info, .contact__info-data, .contact__form {
  display: grid;
}
.contact__info {
  row-gap: 1.25rem;
}
.contact__info-data {
  row-gap: .5rem;
}
.info__title {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}
.info__text {
  color: var(--text-color-light);
}
.contact__btn {
  display: inline-flex;
  align-items: center;
  gap: .5rem;
  width: max-content;
  background: var(--white-color);
  color: var(--text-color-light);
}
.contact__btn i {
  font-size: 1rem;
  transition: transform .3s;
  color: var(--light-blue-color);
}
.contact__btn:hover i {
  transform: translateX(.25rem);
}
.contact__form {
  position: relative;
  row-gap: 2.2rem;
}
.contact__form-section {
  position: relative;
  height: 3rem;
}
.contact__form-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.5rem .5rem 1.5rem 1rem;
  border-radius: .5rem;
  box-shadow: var(--shadow);
  font-size: var(--normal-font-size);
  color: var(--text-color-light);
  background: var(--white-color);
  border-right: var(--border);
  border-left: var(--border);
  border-bottom: var(--border);
  border-top-left-radius: 0;
  z-index: 1;
}
.contact__form-label {
  position: absolute;
  top: -1.3rem;
  left: 0;
  z-index: 10;
  padding: .2rem .5rem;
  background: var(--white-color);
  font-size: var(--smaller-font-size);
  border-top: var(--border);
  border-right: var(--border);
  border-left: var(--border);
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}
.contact__form-label i {
  color: var(--light-blue-color);
}
.contact__message {
  position: absolute;
  bottom: -7.2rem;
  left: .3rem;
  padding: 1rem 0;
}
.area {
  height: 7rem;
  resize: none;
}
.contact__form .btn {
  position: absolute;
  bottom: -7rem;
  right: .3rem;
  cursor: pointer;
}

/*==========JavaScript Contact message==========*/
.contact__message-red {
  color: var(--red-color);
  font-weight: 600;
}
.contact__message-blue {
  color: var(--light-blue-color);
  font-weight: 600;
}


/*==========Footer==========*/
.footer {
  height: 40vh;
  background: var(--white-color);
  padding: 2rem 0;
  border-top: var(--border);
  margin-block-start: 4rem;
  box-shadow: var(--shadow);
}
.footer__container {
  text-align: center;
}
.footer__logo {
  color: var(--text-color-light);
}
.footer__logo {
  font-size: 1.5rem;
  font-family: var(--logo-font);
  font-weight: var(--font-medium);
  text-transform: capitalize;
}
.footer__title {
  color: var(--text-color-light);
  font-size: var(--small-font-size);
}
.footer__copy {
  display: block;
  margin-block-start: 4rem;
  color: var(--text-color-light);
}
.footer__copy small {
  font-size: var(--normal-font-size);
  font-weight: 600;
}


/*==========Media Query small==========*/
@media (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }
  .navbar__list {
    gap: 1rem 1.25rem;
  }
  .skills__info {
    grid-template-columns: repeat(2, 1fr);
  }
  .projects__image {
    width: 220px;
    justify-self: center;
  }
  .card__content {
    width: 280px;
    height: 400px;
  }
  .portfolio__title {
    top: 17rem;
  }

}

/*==========Media Query medium==========*/
@media (min-width: 576px) {
  .skills__container {
    justify-content: center;
  }
  .projects__container {
    overflow: hidden;
    width: 400px;
  }

}

/*==========Media Query Mobile==========*/
@media (min-width: 768px) {
  .home__container {
    grid-template-columns: 1fr 2fr 1fr;
  }
  .home__content {
    margin-block-start: -6rem;
  }
  .home__description {
    order: 2;
  }
  .home__info {
    margin-block-start: 10rem;
  }
  .home__info:nth-child(3) {
    order: 3;
    text-align: right;
  }
  .home__info-description {
    padding-right: 0;
  }
  .skills__container {
    grid-template-columns: repeat(2, max-content);
    gap: 4rem;
  }
  .qualifications__container {
    grid-template-columns: repeat(2, max-content);
    gap: 7rem;
    justify-content: center;
  }
  .services__container {
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
    justify-content: center;
  }
  .projects__container {
    width: 500px;
  }
  .contact__container {
    grid-template-columns: repeat(2, max-content);
    gap: 4rem;
    justify-content: center;
  }
  .contact__form {
    width: 400px;
  }

}


/*==========Media Query Desktop==========*/
@media (min-width: 992px) {
  .header {
    top: 0;
    height: var(--header-height);
    background: var(--body-color);
    border: 0;
    transition: var(--transition);
  }
  .navbar__logo {
    padding: 0 0 0 1rem;
  }
  .navbar {
    width: initial;
    background: var(--body-color);
    height: var(--header-height);
    padding: 0 1rem 0 0;
  }
  .navbar__link i, .navbar__toggle, .navbar__close {
    display: none;
  }
  .navbar__menu {
    width: initial;
    margin-left: auto;
  }
  .navbar__list {
    display: flex;
    gap: 2.5rem;
    margin-right: .5rem;
  }
  .navbar__link {
    font-size: var(--normal-font-size);
  }
  .section {
    padding-block: 7rem 0;
  }
  .container {
    margin-inline: auto;
  }
  .home__container {
    padding: 0 1rem;
  }
  .home__content {
    margin-block-start: 0;
  }
  .home__title {
    font-size: 2.2rem;
  }
  .scroll__up {
    left: 97%;
    bottom: -.2rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: var(--light-blue-color);
  }
  .scroll__up i {
    color: var(--white-color);
  }
  .home__shape-w1, .home__shape-w2 {
    display: none;
  }
  .home__socials {
    top: 90%;
    left: 50%;
    transform: translate(-50%);
    width: 25%;
    height: 3rem;
    border-radius: 1rem;
    box-shadow: var(--shadow-3);
  }
  .skills__container, .qualifications__container {
    gap: 10rem;
  }
  .services__container {
    grid-template-columns: repeat(3, max-content);
    gap: 1rem;
  }
  .projects__container {
    width: 900px;
  }
  .projects__image {
    width: 350px;
  }
  .contact__form {
    width: 550px;
  }
  .footer {
    height: 35vh;
  }

}

